---
layout: page
title: Projects
js:
- projects
---
<div class="row">
	<div class="col-md-3 ml-auto d-inline-flex align-content-center">
		<select class="custom-select ml-2" id="projects_select">
			<option selected value="NONE">No Filter</option>
			{% assign sorted_tags = site.data.projects["visible_tags"] | sort %}
			{% for tag in sorted_tags %}
			<option value="{{ tag }}">{{ tag }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="row">
	<div class="col-md-12 projects">
{% for project in site.data.projects["projects"] %}
		<div class="card project" data-tags="#{{project.tags | join: '#'}}">
			<div class="card-body">
				<h5 class="card-title mb-3">{{project.icon}} {{ project.name }}</h5>
				<p class="card-text">{{ project.description }}</p>
				{% for link in project.links %}
				<a href="{{ link[1] }}" class="card-link">
					{% case link[0] %}
					{% when 'Website' %}
						<i class="far fa-globe fa-fw"></i>
					{% when 'Github' %}
						<i class="fab fa-github fa-fw"></i>
					{% endcase %}
					{{ link[0] }}
				</a>
				{% endfor %}
			</div>
		</div>
{% endfor %}
	<p class="mt-4 text-muted text-center"><i class="far fa-wrench fa-fw mr-1"></i>This data is available as <a href="/projects.json">JSON</a>.</p>
	</div>
</div>