<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/css/styles.css{% cachebust %}">

<!-- Katex -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha256-sI/DdD47R/Sa54XZDNFjRWlS+Dv8MC5xfkqQLRh0Jes=" crossorigin="anonymous">

<!-- FontAwesome Pro JS -->
<!-- do not copy pls -->
<script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-eAVkiER0fL/ySiqS7dXu8TLpoR8d9KRzIYtG0Tz7pi24qgQIIupp0fn2XA1H90fP" crossorigin="anonymous"></script>

<link rel="alternate" type="application/atom+xml" href="/feed.xml" />
<link rel="alternate" type="application/json" href="/feed.json" />