<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/css/styles.css{% cachebust %}">

<!-- Katex -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha256-sI/DdD47R/Sa54XZDNFjRWlS+Dv8MC5xfkqQLRh0Jes=" crossorigin="anonymous">

<!-- FontAwesome Pro JS -->
<!-- do not copy pls -->
<script defer src="https://pro.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-yBZ34R8uZDBb7pIwm+whKmsCiRDZXCW1vPPn/3Gz0xm4E95frfRNrOmAUfGbSGqN" crossorigin="anonymous"></script>

<link rel="alternate" type="application/atom+xml" href="/feed.xml" />
<link rel="alternate" type="application/json" href="/feed.json" />