<!-- Fonts -->
<link href="/fonts/InterUI-2.5/font.css{% cachebust %}" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/styles.css{% cachebust %}">

<!-- FontAwesome Pro -->
<!-- do not copy pls -->
<script defer src="https://pro.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-E5SpgaZcbSJx0Iabb3Jr2AfTRiFnrdOw1mhO19DzzrT9L+wCpDyHUG2q07aQdO6E" crossorigin="anonymous"></script>

<link rel="alternate" type="application/atom+xml" href="/feed.xml" />
<link rel="alternate" type="application/json" href="/feed.json" />