<nav class="navbar sticky-top navbar-expand-lg bg-white navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">Freddy Heppell</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if page.title == "Home" %} active {% endif %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if page.title == "Posts" %} active {% endif %} {% if page.layout == "post" %} active {% endif %}">
                    <a class="nav-link" href="/posts/">Posts</a>
                </li>
                <li class="nav-item {% if page.title == "Projects" %} active {% endif %}">
                    <a class="nav-link" href="/projects/">Projects</a>
                </li>
                <li class="nav-item {% if page.title == "Contact" %} active {% endif %}">
                    <a class="nav-link" href="/contact/">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/freddinator"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/freddinator"><i class="fab fa-github"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://keybase.io/theoctopus" class="nav-link"><i class="fab fa-keybase"></i></a>
                </li>
                <li class="nav-item {% if page.title == "Feeds" %} active {% endif %}">
                    <a class="nav-link" href="/feeds/"><i class="fas fa-rss-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>