.article-alert {
	border-width: 10px;
	border-left: solid;
	padding: 1.5rem;

	margin-bottom: 1.5rem;
}

@each $color, $value in $theme-colors {
  .article-alert-#{$color} {
  	border-color: $value;
  	color: theme-color-level($color, 6);
  	background-color: theme-color-level($color, -10);
  }
}