@font-face {
    font-family: 'Inter';
    src: local('Inter Italic'), local('Inter-Italic'),
        url('/assets/fonts/subset-Inter-Italic.woff2') format('woff2'),
        url('/assets/fonts/subset-Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
        url('/assets/fonts/subset-Inter-Medium.woff2') format('woff2'),
        url('/assets/fonts/subset-Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('/assets/fonts/subset-Inter-Regular.woff2') format('woff2'),
        url('/assets/fonts/subset-Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('/assets/fonts/subset-Inter-Bold.woff2') format('woff2'),
        url('/assets/fonts/subset-Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

