.frontbanner {
	text-align: center;

	h1 {
		font-family: "Archivo Black", sans-serif;
		font-weight: 400;
		padding-bottom: 3rem;
		padding-top: 3rem;
		color: #1034a6;
	}

	p {
		font-style: italic;
	}
}

.home-links {
	margin-top: 4rem;
}

.home-link {
	.card-title {
		margin-bottom: 0;
	}

	.icon-move {
		transition: transform 0.2s ease-in-out;
	}

	&:hover {
		.icon-move {
			transform: translate(5px, 0px);
		}
	}
}

