@import "variables";
@import "bootstrap/scss/bootstrap";

@import "home";
@import "navigation";
@import "page";
@import "post";
@import "postheader";
@import "code";
@import "footer";
@import "postlist";
@import "comments";
@import "projects";
@import "tags";
@import "utility";
@import "themes";
@import "alert";

@media (min-width: 48em) {
	.container-narrow {
		max-width: 46rem;
	}
}

.icon-left {
	margin-right: .25rem;
}

.img-display {
    width: 70%;
    margin-left: 15%;
}


@media(max-width: 540px){
  .display-4 {
    font-size: 2rem;
  }

  .display-1 {
	font-size: 4rem;
  }
}