@import "variables";
@import "bootstrap/scss/bootstrap";

@import "home";
@import "navigation";
@import "page";
@import "post";
@import "postheader";
@import "code";
@import "footer";
@import "postlist";
@import "comments";
@import "projects";
@import "tags";
@import "type";
@import "utility";
@import "themes";
@import "alert";
@import "work";
@import "fonts";

@media (min-width: 48em) {
	.container-narrow {
		max-width: 46rem;
	}
}

.icon-left {
	margin-right: .25rem;
}

.img-display {
    width: 70%;
    margin-left: 15%;
}

.expand-transition {
  transition: all .3s ease;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}

[v-cloak] {
	display: none;
}

body {
  letter-spacing: -0.004em;
  font-variant-ligatures: normal;
  font-kerning: normal;
}

::selection {
  background: lighten($primary, 40%); /* WebKit/Blink Browsers */
}