.navbar {
	border-top: $brand 5px solid;
	padding: 0;
}

.navbar-brand, .navbar-brand:hover {
	font-weight: bold;
	background: linear-gradient($primary, lighten($primary, 12%));
	color: white !important;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.navbar-collapse {
	text-align: center;
}
