.PostList {
	transform: translateX(-$postlist-border-width);
	margin-top: 3rem;

	&__heading {
		font-weight: bold;
		font-size: $h5-font-size;
		letter-spacing: $headings-letter-spacing;
	}

	&__entry {
		padding: 0.5rem 0 0.5rem 1rem;
		transition: background-color ease-in 0.15s;
	}

	&__link {
		color: $body-color;

		&:hover {
			text-decoration: none;
			color: $body-color;
		}
	}

	&__date {
		color: $text-muted;
		margin: 0 0 0 0.5rem;
	}
}