.footnotes {
	margin-top: 5rem;
}

.footnotes ol li:target {
	background-color: $highlight-color;
}


sup:target > a.footnote {
	background-color: darken($highlight-color, 20%);
	color: $body-color;
}