.PostList {
	transform: translateX(-$postlist-border-width);
}

.PostList__entry {
	padding: 1rem;
	transition: background-color ease-in 0.15s;

	h1 {
		font-weight: bold;
	}
}

.PostList__link {
	color: $body-color;
}

.PostList__link:hover {
	text-decoration: none;
	color: $body-color;
}

.PostList__date {
	color: $text-muted;
}

// POST LIST THEMES

@import "utility";
