$font-family-sans-serif: 'Inter UI', sans-serif;
$egyptian-blue: #1034a6;
$font-weight-light: 400;
$display1-weight: 400;
$display2-weight: 400;
$display3-weight: 400;
$display4-weight: 400;
$line-height-base: 1.5;
$spacing-unit: 40px;
