$font-family-sans-serif: 'Archivo', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$font-weight-light: 400;
$display1-weight: 400;
$display2-weight: 400;
$display3-weight: 400;
$display4-weight: 400;