$enable-responsive-font-sizes: true;
$font-family-sans-serif: 'Inter', 'Helvetica Neue', 'Liberation Sans', 'Arial', sans-serif;
$font-family-sans: 'Georgia', 'Times New Roman', 'Times', serif;
$headings-letter-spacing: -0.03em;
$line-height-base: 1.6;
$spacing-unit: 40px;
$highlight-color: #ffffe6;
$postlist-border-width: 0.5rem;
$headings-font-weight: bold;
$display1-weight: bold;
$display2-weight: bold;
$display3-weight: bold;
$display4-weight: bold;
$lead-font-weight: normal;
$enable-rounded: false;

$display4-size: 3rem;

$brand: #f94d00;
$primary: $brand;