.Work {
    margin-top: 2rem;

    &__entry {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        &--beanify {
            background-color: #824bc4;
            color: white;
        }

        &--crime {
            background-color: #1b4080;
            color: white;
        }

        &--hackSheffield {
            background-color: #0094d8;
            color: white;
        }

        &--datrifyio {
            background-color: #85bb65;
        }

        &--bnhs {
            background-color: #CE0000;
            color: white;
        }

        &--cavegame {
            background-color: $gray-900;
            color:white;
        }

        &--dh {
            background-color: #f0f8ff;
        }

        &--misc {
            background-color: $gray-300;
        }

        &--right {
            @include media-breakpoint-up(md) {
                text-align: right;

                .container {
                    padding-right: 3rem;
                }
            }
        }

        &--left {
            @include media-breakpoint-up(md) {
                .container {
                    padding-left: 3rem;
                }
            }
        }


        .buttons {
          margin-bottom: 1rem;  
        }

        @include media-breakpoint-up(md) {
            .buttons {
                margin-bottom: 0;
            }
        }

        a.text-link {
            color: inherit;
            text-decoration: underline;
        }

        img {
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }

    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        
        li {
            text-transform: uppercase;
            display: inline-block;
            padding-right: 0.75rem;
            font-size: 0.8rem;
        }
    }

    &__medal {
        margin-bottom:1rem;

        i {
            margin-right: 0.5em;
        }

        &--silver {
            background-color: #c0c0c0;
            color: $body-color;
        }
    }
}

.WorkPageNav {
    margin-bottom: 3rem;

    svg {
        margin-right: 0.5rem;
    }
}