.Work {
    margin-top: 2rem;

    &__entry {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        &--datrifyio {
            background-color: #85bb65;
        }

        &--bnhs {
            background-color: #CE0000;
            color: white;
        }

        &--cavegame {
            background-color: $gray-900;
            color:white;
        }

        &--dh {
            background-color: #f0f8ff;
        }

        &--misc {
            background-color: $gray-300;
        }

    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        
        li {
            text-transform: uppercase;
            display: inline-block;
            padding-right: 0.75rem;
            font-size: 0.8rem;
        }
    }

    &__medal {
        margin-bottom:1rem;

        svg {
            margin-right: 0.5em;
        }

        &--silver {
            background-color: #c0c0c0;
            color: $body-color;
        }
    }
}

.WorkPageNav {
    margin-bottom: 3rem;

    svg {
        margin-right: 0.5rem;
    }
}