<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include header.html %}

    {% seo %}
</head>
<body>
    {% include navbar.html %}
    {{ content }}

    <footer>
    	<hr>
    	<div class="text-muted">&copy; Freddy Heppell 2016&ndash;{{ 'now' | date: "%y" }}. Code is <a href="https://creativecommons.org/publicdomain/zero/1.0/"><i class="fab icon-left fa-creative-commons-zero"></i>CC0</a> unless noted otherwise.</div>
    </footer>


    {% if page.use_katex == true %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.js" integrity="sha256-mxaM9VWtRj1wBtn50/EDUUe4m3t39ExE+xEPyrxVB8I=" crossorigin="anonymous"></script>    

    <script type="text/javascript">
        $( document ).ready(function() {
            $("script[type='math/tex']").replaceWith(
            function(){
                var tex = $(this).text();
                return "<span class=\"inline-equation\">" + 
                    katex.renderToString(tex) +
                    "</span>";
            });
            
            $("script[type='math/tex; mode=display']").replaceWith(
            function(){
                var tex = $(this).text();
                return "<div class=\"equation\">" + 
                    katex.renderToString("\\displaystyle "+tex) +
                    "</div>";
            });
        });
    </script>
    {% endif %}

    {% include navtoggle.html %}
         

    {% for js in page.js %}
    <script type="text/javascript" src="/assets/js/{{js}}.js{% cachebust %}"></script>
    {% endfor %}
</body>
</html>