<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include header.html %}

    {% seo %}
</head>
<body>
    {% include navbar.html %}
    {{ content }}

    <footer>
    	<hr>
    	<div class="text-muted">&copy; Freddy Heppell 2016&ndash;{{ 'now' | date: "%y" }}. Code snippets are <a href="https://creativecommons.org/publicdomain/zero/1.0/"><i class="fab icon-left fa-creative-commons-zero"></i>CC0</a> unless noted otherwise.</div>
    </footer>


    {% if page.use_katex == true %}
    <script src="/assets/js/vendor/jquery-3.3.1/jquery.slim.min.js"></script>
    <script src="/assets/js/vendor/katex-v0.10.1/katex.min.js"></script>    

    <script src="/assets/js/katex.js"></script>

    {% endif %}

    {% include navtoggle.html %}
</body>
</html>