---
layout: default
---
<div class="container container-narrow">
	<header class="PostHeader theme-{{page.theme}}">
		<h1 class="display-3">{{ page.title | smartify }}</h1>
		<div class="meta">
			{{ page.date | date: "%-d %B %Y"}}
				{% if page.tags.size > 0 %} in
				{% for tag in page.tags  %}
				 <a href="{{ "tags#" | append: tag | absolute_url }}" class="">#{{tag}}</a>
				{% endfor %}
				{% endif %}
		</div>
		
	</header>
</div>


<article class="post">
	<div class="container container-narrow">
		{{ content }}
	</div>

	<hr class="page-divider comments-divider">

	<div class="container comments">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				{% include comments.html %}
			</div>
		</div>
	</div>
</article>
